<a href="https://colab.research.google.com/github/codev-pro/disease-predictor/blob/main/model/diabetes/diabetes_predictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importing Dependecies for the classification**

In [13]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data Collection and Analysis

In [14]:
# Import dataset to the development environment
diabetes_dataset = pd.read_csv('https://raw.githubusercontent.com/PulasthiAbey/Datasets/main/Diabetes/diabetesFinalValues.csv')

In [15]:
# Checking the dataframes in the dataset
diabetes_dataset.head()

,HbA1c,Height,Weight,BMI,Duration of disease,Other diease value,Adequate Nutrition Values,Autoantibodies Values,Impaired glucose metabolism values,Insulin taken value,Family History affected in Type 1 Diabetes values,Family History affected in Type 2 Diabetes values,Hypoglycemis Values,pancreatic disease affected in child values,Affected Values
0,Over 7.5%,1.50,56.0,24.888889,4y,0,0,1,1,1,1,0,1,1,1
1,Over 7.5%,1.48,58.0,26.479182,1w,0,0,1,0,1,1,1,1,1,1
2,Over 7.5%,1.20,46.0,31.944444,9d,0,1,1,0,1,1,0,0,0,1
3,Over 7.5%,1.65,50.0,18.365473,1w,0,1,0,0,1,0,1,0,0,1
4,Over 7.5%,1.61,59.0,22.761468,1m,1,1,1,0,1,1,1,0,0,1

In [16]:
# Number of rows and columns in the dataset
diabetes_dataset.shape

(306, 15)

In [17]:
# Getting the Statistical measures of the dataset
diabetes_dataset.describe()

,Height,Weight,BMI,Other diease value,Adequate Nutrition Values,Autoantibodies Values,Impaired glucose metabolism values,Insulin taken value,Family History affected in Type 1 Diabetes values,Family History affected in Type 2 Diabetes values,Hypoglycemis Values,pancreatic disease affected in child values,Affected Values
count,306.000000,306.000000,306.000000,306.000000,306.000000,306.000000,306.000000,306.000000,306.000000,306.000000,306.000000,306.000000,306.000000
mean,1.349346,38.854575,20.860711,0.209150,0.732026,0.797386,0.189542,0.496732,0.294118,0.457516,0.333333,0.248366,0.496732
std,0.277601,16.689427,6.225745,0.407368,0.443629,0.402606,0.392581,0.500808,0.456391,0.499008,0.472177,0.432773,0.500808
min,0.440000,5.000000,10.077936,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.220000,25.000000,16.928286,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.420000,40.000000,19.813209,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.560000,50.000000,23.711124,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000
max,1.830000,87.000000,61.983471,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [18]:
diabetes_dataset['Affected Values'].value_counts()

0    154
1    152
Name: Affected Values, dtype: int64

In [19]:
diabetes_dataset.groupby('Affected Values').mean()

,Height,Weight,BMI,Other diease value,Adequate Nutrition Values,Autoantibodies Values,Impaired glucose metabolism values,Insulin taken value,Family History affected in Type 1 Diabetes values,Family History affected in Type 2 Diabetes values,Hypoglycemis Values,pancreatic disease affected in child values
Affected Values,,,,,,,,,,,,
0,1.193052,29.327922,20.620208,0.000000,0.928571,1.000000,0.201299,0.0,0.201299,0.376623,0.000000,0.0
1,1.507697,48.506579,21.104379,0.421053,0.532895,0.592105,0.177632,1.0,0.388158,0.539474,0.671053,0.5

In [30]:
# Seperate the dataset 
X = diabetes_dataset.drop(columns = ['Affected Values','HbA1c', 'Height', 'Weight', 'Duration of disease'])
# print(X)
Y = diabetes_dataset['Affected Values']
# print(Y)



---


# **Data Standarization**

In [32]:
scaler = StandardScaler()

In [33]:
scaler.fit(X)

StandardScaler()

In [34]:
standardize_data = scaler.transform(X)
print(standardize_data)

[[ 0.6480792  -0.51425948 -1.65278774 ... -0.91835369  1.41421356
   1.73963093]
 [ 0.9039358  -0.51425948 -1.65278774 ...  1.08890509  1.41421356
   1.73963093]
 [ 1.78322249 -0.51425948  0.60503837 ... -0.91835369 -0.70710678
  -0.57483457]
 ...
 [-0.32958619 -0.51425948  0.60503837 ... -0.91835369 -0.70710678
  -0.57483457]
 [-1.07520696 -0.51425948  0.60503837 ...  1.08890509 -0.70710678
  -0.57483457]
 [-1.19433465 -0.51425948  0.60503837 ...  1.08890509 -0.70710678
  -0.57483457]]

In [35]:
X = standardize_data
Y = diabetes_dataset['Affected Values']

In [36]:
print(X)
print(Y)

[[ 0.6480792  -0.51425948 -1.65278774 ... -0.91835369  1.41421356
   1.73963093]
 [ 0.9039358  -0.51425948 -1.65278774 ...  1.08890509  1.41421356
   1.73963093]
 [ 1.78322249 -0.51425948  0.60503837 ... -0.91835369 -0.70710678
  -0.57483457]
 ...
 [-0.32958619 -0.51425948  0.60503837 ... -0.91835369 -0.70710678
  -0.57483457]
 [-1.07520696 -0.51425948  0.60503837 ...  1.08890509 -0.70710678
  -0.57483457]
 [-1.19433465 -0.51425948  0.60503837 ...  1.08890509 -0.70710678
  -0.57483457]]
0      1
1      1
2      1
3      1
4      1
      ..
301    0
302    0
303    0
304    0
305    0
Name: Affected Values, Length: 306, dtype: int64



---



---


# **Train Test Split**

In [37]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y,  random_state=2)

In [38]:
print(X.shape, X_train.shape, X_test.shape)

(306, 10) (244, 10) (62, 10)



---


# **Training the Model**

In [40]:
classifier = svm.SVC(kernel='linear')

In [42]:
# training the support vector Machine Classifier
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

### Model Valuation

### Accuracy Score

In [44]:
# Accuracy score for the training data
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
print('Accuracy Score of the Training Data : ', training_data_accuracy)

Accuracy Score of the Training Data :  1.0

In [45]:
# Accuracy score for the test data
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print('Accuracy Score of the Test Data : ', test_data_accuracy)

Accuracy Score of the Test Data :  1.0

# **Making the Prediction**

---

In [53]:
input_data = (24.888889, 0, 0, 1, 1, 1, 1, 0, 1, 1)
input_data_as_numpy_array = np.asarray(input_data)
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

std_data = scaler.transform(input_data_reshaped)
# print(std_data)

prediction = classifier.predict(std_data)
# print('Prediction Value', prediction)

if (prediction[0]==0):
  print('The person is non Diabetic')
else:
  print('This person is diabetic')

This person is diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [52]:
input_data = (32, 1, 1, 0, 0, 0, 0, 0, 1, 1)
input_data_as_numpy_array = np.asarray(input_data)
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

std_data = scaler.transform(input_data_reshaped)
# print(std_data)

prediction = classifier.predict(std_data)
# print('Prediction Value', prediction)


if (prediction[0]==0):
  print('The person is non Diabetic')
else:
  print('This person is diabetic')

The person is non Diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"